body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  
  .special-text {
    color: #007bff; /* Blue color for the special text */
  }
  
  /* Styling for the toggle button */
  .toggle-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle-btn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    margin: 10px;
    cursor: pointer;
  }
  
  .toggle-btn .toggle-circle {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  /* Styling for the toggle state: ON */
  .toggle-btn.on {
    background-color: #007bff;
  }
  
  .toggle-btn.on .toggle-circle {
    left: calc(100% - 32px);
    transform: translateX(-100%);
  }
  
  /* Styling for the toggle state: OFF */
  .toggle-btn.off .toggle-circle {
    left: 2px;
    transform: translateX(0%);
  }
  
  /* Hide the default checkbox */
  input[type="checkbox"] {
    display: none;
  }
  